<%- include('header') %>
  <div class="alert alert-success" role="alert">
    <%= messages %>
  </div>
  </div>
  <div id="main-loading"><img src="images/loader.gif" /></div>
  </body>

  </html>
  <script src="scripts/common.js"></script>
  <script>
    $(document).ready(function () {

      JqueryFunction.authentication()

      $(window).on('load', function () {
        JqueryFunction.Loading(0)
      })

    })
  </script>